#background {
    height:500px;
    background: linear-gradient(#16e2df 5%, white 70%,#adadad);
}

#demo {
    font-size: 30px;
    color: #414441;
}

h3 {
    font-size: 30px;
    color: #414441;
    text-align: center
}

html, body, #background {
    height: 100%;
}

h1{
    text-align: center;
    color: black;
}

#easy{
    color: green;
}

#medium{
    color: yellow;
}

#hard{
    color: red;
}

#difficulty{
    font-size: 20px
}

button{
    width: 200px;
    background-color: black;
    color: white;
    border:none;
    border-radius: 25px;
    height: 30px;
}

select{
    width:100%;
    height: 30px;
    font-size: 20px;
    background-color:lightblue;
    color: white;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}