#background {
    height:500px;
    background: linear-gradient(#16e2df 5%, white 70%,#adadad);
}

#demo {
    font-size: 30px;
    color: #414441;
}

h3 {
    font-size: 30px;
    color: #414441;
}

